//sizes
$HEADER-HEIGHT: 34px;
$TOOLBAR-HEIGHT: 40px;
$FORMULA-HEIGHT: 24px;
$INFO-CELL-WIDTH: 40px;
$CELL-WIDTH: 120px;
$ROW-HEIGHT: 24px;
$DASHBOARD-HEADER-HEIGHT: 64px;

//colors
$COLOR-RED: red;
$COLOR-GREEN: green;
$COLOR-BLACK: black;
$COLOR-WHITE: white;
$COLOR-SILVER:#c0c0c0;
$COLOR-GRAY: #ededed;
$COLOR-BLUE: #3c74ff;
$COLOR-BALTIC-SEA: #3C4043;

$BACKGROUND-COLOR: $COLOR-GRAY;
$BORDER-COLOR: $COLOR-SILVER;
$SHADOW-COLOR: $COLOR-BALTIC-SEA;
$HEADER-COLOR: $COLOR-SILVER;